.buy-option {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #de562e;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
    
}

.choose_odds {
    width: 100%;
    display: flex;
}

@media (max-width: 767px) {
    .buy-option {
        width: 74px;
        background-color: #217843;
    }
}

@media (max-width: 414px) {
    .buy-option {
            width: 96px;
            background-color: #217843;
            font-size: large;
        }
}