@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
div.body {
    height: 100vh;
}

div.logo {
    color: black;
}

ul.lists {
    display: flex;
    align-items: center;
}

ul.lists {
    color: #888f9d;
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

.user {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: 31px;
    border-radius: 49%;
    color: #b0b7c4;
    justify-content: center;
}

div.logo {
    display: flex;
    align-items: center;
}

div.upload-form {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    gap: 20px;
}

div.upload-form form{
    border: 2px dotted #b0b7c4;
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 30px;
    width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

div.upload-form button {
    width: 500px;
    height: 30px;
    border: none;
    cursor: pointer;
}

div.upload-section {
    margin-top: 50px;
}

.choose-ticket input {

    background-color: #f6f6f6;
    border-radius: 5px;
    
}

input#photo {
    width: 180px;
    cursor: pointer;
}

div.choose-ticket label {
    display: none;
    
}

div.choose-odd {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select#oddType {
    height: 30px;
    border: 1px solid #888f9d;
}

ul.user-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

ul.user-profile li {
    list-style: none;
    color: #888f9d;
}