div.logo {
    color: black;
}

ul.lists {
    display: flex;
    align-items: center;
}

ul.lists {
    color: #b0b7c4;
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

div.user {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    width: 31px;
    border-radius: 49%;
    color: #b0b7c4;
    justify-content: center;
}

div.logo {
    display: flex;
    align-items: center;
}