@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;@400;500&display=swap');

.header {
    background-image: url('https://images.unsplash.com/photo-1471295253337-3ceaaedca402?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover !important;
    background-position: center;
    height: 100vh;
  
}

.main-text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 70vh;   
    padding: 10px 70px; 
}

.main-text-btn h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #ffffff;
}

.logo {
    color: white;
}

.land-logo img {
    width: 170px;
}

.header header {
    padding: 0px 62px;
}

@media (max-width: 767px) {
    section.main {
        height: 100vh;
        overflow: hidden;
    }

    .header {
        background-image: url('https://images.unsplash.com/photo-1517747614396-d21a78b850e8?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover !important;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .main-text-btn {
        width: 71vw;
        height: 70vh;
        padding: 10px 10px;
        margin: 88px auto;
        display: block;
    }

    .header header {
        padding: 0px 10px;
    }

    .main-text-btn h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 34px;
        color: #ffffff;
    }

    .choose_odds {
        width: 100% !important;
        display: flex !important;
    }   

    .main-text-btn h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 27px;
        color: #ffffff;
    }

}


@media (max-width: 414px) {
    .main-text-btn {
            width: 82vw;
            height: 70vh;
            padding: 5px;
            margin: 165px auto;
        }

        .main-text-btn h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 34px;
            color: #ffffff;
        }
}



