.signup-form {
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 270px;
    gap: 10px;
}

div.email {
    display: flex;
    flex-direction: column;
}

div.email label {
    color: #717171;
}

div.email input {
    border: 1px solid #dcdcdc;
    height: 24px;
}

div.first-name {
    display: flex;
    flex-direction: column;
}

div.first-name label {
    color: #717171;
}

div.first-name input {
    border: 1px solid #dcdcdc;
    height: 24px;
}

div.last-name {
    display: flex;
    flex-direction: column;
}

div.last-name label {
    color: #717171;
}

div.last-name input {
    border: 1px solid #dcdcdc;
    height: 24px;
}

div.password {
    display: flex;
    flex-direction: column;
}

div.password label {
    color: #717171;
}

div.password input {
    border: 1px solid #dcdcdc;
    height: 24px;
}

form button {
    background-color: #000000;
    color: #ffffff;
    margin-top: 10px;
    border: none;
    height: 24px;
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .main-signup {
        width: 100vw;
    }
}